# 默认忽略的文件
/shelf/
/workspace.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

#忽略 PyCharm 的所有项目配置文件
.idea/
#忽略 Python 编译产生的缓存文件
*.pyc
__pycache__/
#项目下创建了虚拟环境，也应该忽略它
venv/
.venv/
